/* Figure out 5 or more DIFFERENT ways to fill in the blank 
   to produce the desired output */

 .pokemon{
    font-family: Times new roman;
    font-size: 450%;
    color: #ffd63e;
    text-align: right;
}

/* Record your solutions here:
   #1 - .pokemon{
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
   #2 -  .pokemon{
    font-family: Times new roman;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}
   #3 - .pokemon{
    font-family: Times new roman;
    font-size: 450%;
    color: #ffd63e;
    text-align: center;
}
   #4 -
   #5 -

   e.g. - .pika               */
